[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-allauth = "*"
openapi-codec = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
